a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
h1 {
  color: red;
  margin-top: 50px;
  margin-left: 70px;
}
input {
  width: 70%;
}
.parent {
  position: relative;
  width: 100%; /* Adjust width as needed */
  height: 100px;
  margin-left: 25%;
}
.form-container {
  position: relative;
  width: 300px;
}
.form-container img {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.input-container {
  display: flex;
  align-items: center; /* Ensures both input and label are vertically aligned */
  gap: 8px; /* Adds space between the input and the label */
  margin-bottom: 10px; /* Adds space between rows */
}
.input-container label {
  width: 200px; /* Set a fixed width for all labels */
  margin-right: 10px; /* Space between label and input */
}
.input {
  padding: 20px 270px;
  border-radius: 40px;
  border: 1px transparent solid;
  box-shadow: 0px 9px 19px rgba(83, 75, 75, 0.5); /* White shadow */
}
.heading {
  width: 90px;
}
#container {
  display: block;
  margin: 25px auto 0;
  width: 90%;
  height: 90vh;
  border: 1px transparent solid;
  box-shadow: 0px 9px 19px rgba(83, 75, 75, 0.5); /* White shadow */
  border-radius: 30px;
  background-color: #f7f7f7;
}
.logo {
  display: block;
  margin: auto;
  width: 30%;
}
